@import "nib"
@import url('normalize.css')

*
	box-sizing border-box
	margin 0
	padding 0
	
body
	background #161514
	position relative
img
	border 1px solid #CCC
	border-radius 20%
	padding 10px
	width 100px
		
.Content
	color #FFF
	float right
	padding 3em
	width 70%
	&-title
		text-transform uppercase
		border-bottom 1px solid #FFF
		font-size 1em
		letter-spacing 0.4em
		word-spacing 1em
		padding-bottom 0.5em
	&-body
		font-size 0.9em
		word-spacing 0.2em
		p
			padding 1em;
			&:first-child
				padding-top 2em
			&:last-child
				padding-bottom 3em
.Navigation
	left 0
	position fixed
	top 0
	bottom 0
	width 30%
	&-item
		display inline-block
		text-align center
		width 100%
	&-item:nth-child(1)
		color #7C7C7C
		height 35vh
		font-weight 600
		padding 2em 0 0
	&-item:nth-child(3)
		height 49vh
		// padding 5em 0 0
	&-item:nth-child(odd)
		background #EEEEEE
	&-item:nth-child(even)
		background #000000
		color #FFF
		height 16vh
		padding 2em 0 0
		
	&-list
		margin 1em 0 0
	&-listItem
		background #E94016
		list-style none
		margin 0.5em auto
		width 90%
		a
			color #FFF
			display block
			padding 1em
			text-decoration none