@import url("normalize.css");
@import url("//i.icomoon.io/public/temp/4520bc46c4/UntitledProject1/style.css");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #161514;
  position: relative;
}
img {
  border: 1px solid #ccc;
  -webkit-border-radius: 20%;
  border-radius: 20%;
  padding: 10px;
  width: 100px;
}
.Content {
  color: #fff;
  float: right;
  padding: 3em;
  width: 70%;
}
.Content-body {
  font-size: 0.9em;
  word-spacing: 0.2em;
}
.Content-body p {
  padding: 1em 0;
}
.Content-body p:first-child {
  padding-top: 2em;
}
.Content-body p:last-child {
  padding-bottom: 3em;
}
.Content-link {
  padding: 2em 0;
}
.Content-link a {
  color: #fff;
}
.Content-link:last-child {
  padding-top: 0;
}
.Content-title {
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
  font-size: 1em;
  letter-spacing: 0.4em;
  word-spacing: 1em;
  padding-bottom: 0.5em;
}
.github {
  background: #9a9a9a;
}
.github:hover {
  background: #888;
}
.facebook {
  background: #45619d;
}
.facebook:hover {
  background: #364d7c;
}
.icon {
  margin-right: 1em;
}
.linkedin {
  background: #2387bd;
}
.linkedin:hover {
  background: #1f76a5;
}
.Navigation {
  left: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 30%;
}
.Navigation-item {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.Navigation-item:nth-child(1) {
  color: #7c7c7c;
  height: 35vh;
  font-weight: 600;
  padding: 2em 0 0;
}
.Navigation-item:nth-child(3) {
  height: 49vh;
}
.Navigation-item:nth-child(odd) {
  background: #eee;
}
.Navigation-item:nth-child(even) {
  background: #000;
  color: #fff;
  height: 16vh;
  padding: 2em 0 0;
}
.Navigation-list {
  margin: 1em 0 0;
  text-align: left;
}
.Navigation-listItem {
  list-style: none;
  margin: 0.5em auto;
  width: 90%;
}
.Navigation-listItem a {
  color: #fff;
  display: block;
  padding: 1em;
  text-decoration: none;
}
.twitter {
  background: #55acee;
}
.twitter:hover {
  background: #2596e9;
}
