@import url("normalize.css");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
}
.Navegation {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 30%;
}
.Navegation-item:nth-child(1) {
  background: #eee;
}
section {
  float: right;
  width: 59%;
}
