@import "nib"
@import url('normalize.css')
@import url('//i.icomoon.io/public/temp/4520bc46c4/UntitledProject1/style.css')


*
	box-sizing border-box
	margin 0
	padding 0
	
body
	background #161514
	position relative
img
	border 1px solid #CCC
	border-radius 20%
	padding 10px
	width 100px
		
.Content
	color #FFF
	float right
	padding 3em
	width 70%
	&-body
		font-size 0.9em
		word-spacing 0.2em
		p
			padding 1em 0;
			&:first-child
				padding-top 2em
			&:last-child
				padding-bottom 3em
	&-link
		padding 2em 0
		a
			color #FFF
		&:last-child
			padding-top 0
	&-title
		text-transform uppercase
		border-bottom 1px solid #FFF
		font-size 1em
		letter-spacing 0.4em
		word-spacing 1em
		padding-bottom 0.5em
.github
	background #9A9A9A
	&:hover
		background #888888
.facebook
	background #45619D
	&:hover
		background #364D7C
.icon
	margin-right 1em
.linkedin
	background #2387BD
	&:hover
		background #1F76A5
.Navigation
	left 0
	position fixed
	top 0
	bottom 0
	width 30%
	&-item
		display inline-block
		text-align center
		width 100%
	&-item:nth-child(1)
		color #7C7C7C
		height 35vh
		font-weight 600
		padding 2em 0 0
	&-item:nth-child(3)
		height 49vh
		// padding 5em 0 0
	&-item:nth-child(odd)
		background #EEEEEE
	&-item:nth-child(even)
		background #000000
		color #FFF
		height 16vh
		padding 2em 0 0
		
	&-list
		margin 1em 0 0
		text-align left
	&-listItem
		list-style none
		margin 0.5em auto
		width 90%
		a
			color #FFF
			display block
			padding 1em
			text-decoration none
.twitter
	background #55ACEE
	&:hover
		background #2596E9
		